body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: rgb(4, 4, 4);
  width: 230px;
  padding: 20px;
  margin: 50px;
  border-radius: 15px;
}
.total{
  border: none;
  background-color: grey;
  color: white;
  width: 100%;
  padding: 5px;
  font-size: 25px;
  font-weight: medium;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 20px;
  overflow:scroll;

}
.btn-container{
  display: flex;
}
.number-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.number-btn,
.symbol-btn,
.btn-clear,
.btn-equal{
  margin: 5px;
  padding: 14px 6px ;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background-color:rgba(173, 173, 173, 0.631);
  color: white;
  cursor: pointer;
}
.symbol-btn{
  background-color:orange;
  font-size: 15px;

}
.btn-clear{
  background-color:rgba(173, 173, 173, 0.631);
}
.number-btn:hover,
.btn-clear:hover,
.btn-equal:hover{
  background-color:rgba(173, 173, 173, 70%);
}
.number-btn:active,
.btn-clear:active,
.btn-equal:active{
  background-color:rgba(173, 173, 173, 80%);

}

.symbol-container{
  display: flex;
  flex-direction: column;
  flex: 1;

}
.button-active{
  background-color: white;
  opacity: 0.9;
  color: rgba(247, 202, 119, 0.77) ;
}

